<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>

    <div class="card-wrapper">
      <mat-card class="example-card">
        <mat-card-header>
          <img src="https://www.freakyjolly.com/wp-content/uploads/2021/07/cropped-cropped-fj-logo-192-removebg-preview-e1625997712615-1.png"
               mat-card-avatar />
          <mat-card-title>FreakyJolly.com</mat-card-title>
          <mat-card-subtitle>
            Angular Material Card with List Example
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p>

          <mat-list role="list">
            <mat-list-item role="listitem">Angular 12 Tutorials</mat-list-item>
            <mat-list-item role="listitem">React 17 Tutorials</mat-list-item>
            <mat-list-item role="listitem">Ionic 5 Tutorials</mat-list-item>
          </mat-list>

        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="accent">LIKE</button>
          <button mat-raised-button color="primary">SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</body>
